// Base style sheet
$dark-bg: #333;
$dark-bg-text: #f1f1f1;

.page-content {
	min-height: 450px;
// background-image: -o-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -moz-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -webkit-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -ms-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: linear-gradient(-180deg, #103444 0%, #0A2138 100%);

// background-image: -o-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -moz-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -webkit-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: -ms-linear-gradient(-90deg, #103444 0%, #0A2138 100%);
// background-image: linear-gradient(-180deg, #103444 0%, #0A2138 100%);

// background-image: -o-linear-gradient(-90deg, #978C1F 0%, #483009 24%, #0D423D 31%, #08273A 100%);
// background-image: -moz-linear-gradient(-90deg, #978C1F 0%, #483009 24%, #0D423D 31%, #08273A 100%);
// background-image: -webkit-linear-gradient(-90deg, #978C1F 0%, #483009 24%, #0D423D 31%, #08273A 100%);
// background-image: -ms-linear-gradient(-90deg, #978C1F 0%, #483009 24%, #0D423D 31%, #08273A 100%);
// background-image: linear-gradient(-180deg, #978C1F 0%, #483009 24%, #0D423D 31%, #08273A 100%);

background-image: -o-linear-gradient(-90deg, #575715 0%, #29362F 7%, #113740 18%, #08273A 100%);
background-image: -moz-linear-gradient(-90deg, #575715 0%, #29362F 7%, #113740 18%, #08273A 100%);
background-image: -webkit-linear-gradient(-90deg, #575715 0%, #29362F 7%, #113740 18%, #08273A 100%);
background-image: -ms-linear-gradient(-90deg, #575715 0%, #29362F 7%, #113740 18%, #08273A 100%);
background-image: linear-gradient(-180deg, #575715 0%, #29362F 7%, #113740 18%, #08273A 100%);



}

.page-content > section {
	padding: 4em 0 6em;

	h1, h2, h3, h4 {text-align: center;}
}

.page-title, .intro {
	padding-top: 2em;
	h1 {margin-bottom: 0;}
	h2 {margin-bottom: 1em;}
}


.ico-social {
	display: inline-block;
	width: 32px; height: 32px;
	background: #ccc;
	border-radius: $global-radius;
	vertical-align: middle;
	margin-left:.5rem;

	.ico-social:hover {
		background: #222;
	}
}

.photo-right {
	float: right;
	margin: 1rem 0 1rem 1rem;
}