// Base style sheet
$dark-bg: #333;
$dark-bg-text: #f1f1f1;

.page-content {min-height: 450px;}

.page-content > section {
	padding: 2em 0 4em;

	h1, h2, h3, h4 {text-align: center;}
}

.page-title {
	h1, h2 {margin-bottom: .5em;}
}


.ico-social {
	display: inline-block;
	width: 32px; height: 32px;
	background: #ccc;
	border-radius: $global-radius;
	vertical-align: middle;
	margin-left:.5rem;

	.ico-social:hover {
		background: #222;
	}
}

.photo-right {
	float: right;
	margin: 1rem 0 1rem 1rem;
}