.community-solutions {
	section {padding: 0;}
}

.community-map {
	background: #5C9329;
	padding-top: 2rem;
}

section.ocean {
	background: #173756;
	padding: 1rem 0 2rem;


	.scales {
		display: block;
		margin: 0 auto;
	}
}