$board-r1: 6.5%;
$board-r2: 14.3%;
$board-r3: 22.1%;
$board-r4: 29.9%;
$board-r5: 37.7%;
$board-r6: 45.6%;
$board-r7: 53.4%;
$board-r8: 61.2%;
$board-r9: 69%;
$board-r10: 76.8%;
$board-c1: 13.3%;
$board-c2: 25%;
$board-c3: 36.6%;
$board-c4: 48.2%;
$board-c5: 59.9%;
$board-c6: 71.5%;

.community-solutions {
	background: $lawn; //grass green
	section {padding: 0;}

	.community-map {
	
	padding-top: 2rem;
	// margin-bottom: 266px;
	margin-bottom: 245px;
	position: relative;
		.token {
			position: absolute;
			z-index: 10;
			width: 15.5%; 
			height: auto;
			display:block;
			cursor: pointer;
		}
		.token.village {top: $board-r2; left: $board-c2; }
		.token.rural {top: $board-r1; left: $board-c3; }
		.token.subdivision-a {top: $board-r4; left: $board-c4;}
		.token.subdivision-b {top: $board-r5; left: $board-c1;}
		.token.subdivision-c {top: $board-r8; left: $board-c2;}
		.token.commercial {top: $board-r7; left: $board-c3;}
		.token.vacant {top: $board-r6; left: $board-c6;}
		.token.town-center {top: $board-r9; left: $board-c5;}
		.token.harbor {top: $board-r10; left: $board-c4;}

	}





}

#toolbox .bar-graph {background-color: darken($toolbox-bg-color, 26%);}
.ocean .bar-graph {background-color: darken($ocean-bg-color, 5%);}

#toolbox {
	background: $toolbox-bg-color;
	padding: 1.5em 0 0;
	h2 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: normal;
		line-height: 1;

		i {
				font-size: 14px;
				background: darken($toolbox-bg-color, 40%);
				padding: 2px;
				border-radius: 10px;
				color: $toolbox-bg-color;
			}
	}
	h3, p, a {color: #fff; font-weight: normal; margin-top: 0;}
	h3, a {text-transform: uppercase; letter-spacing: 2px;}
	.button {background: darken($toolbox-bg-color, 40%);@include inset-shadow(false);box-shadow: none;}
	.tool-desc {
		padding: 1em;
		background: darken($toolbox-bg-color, 10%);
	}

	.graph .bar-graph .amt {height: 2em;}
	.graph .bar-graph label {line-height: 3em;}
	.area-vacant {
		img.token-cluster-system,
		img.token-composting-toilets,
		img.token-ia,
		img.token-permeable-barriers,
		img.token-aquaculture,
		img.token-sewer,
		img.token-title-5,
		img.token-culvert-widening,
		img.token-satellite
				 { display: none;}
	}
	.area-harbor {
		img.token-fertilizer-mgmt,
		img.token-constructed-wetlands
				{display: none;}
	}
	.area-commercial {
		img.token-fertilizer-mgmt,
		img.token-aquaculture,
		img.token-culvert-widening,
		img.token-constructed-wetlands
				{display: none;}
	}
	.area-town-center {
		img.token-fertilizer-mgmt,
		img.token-aquaculture,
		img.token-culvert-widening,
		img.token-constructed-wetlands
				{display: none;}
	}
	.area-rural
	{
		img.token-aquaculture,
		img.token-culvert-widening
				{	display: none;	}

	}
	.area-village
	{
		img.token-aquaculture,
		img.token-culvert-widening
				{	display: none;}
	}
	.area-subdivision
	{
		img.token-aquaculture,
		img.token-culvert-widening
				{	display: none;}		
	}
}
