$board-r1: 6.5%;
$board-r2: 14.3%;
$board-r3: 22.1%;
$board-r4: 29.9%;
$board-r5: 37.7%;
$board-r6: 45.6%;
$board-r7: 53.4%;
$board-r8: 61.2%;
$board-r9: 69%;
$board-r10: 76.8%;
$board-c1: 13.3%;
$board-c2: 25%;
$board-c3: 36.6%;
$board-c4: 48.2%;
$board-c5: 59.9%;
$board-c6: 71.5%;

$ocean-bg-color: #173756;
$toolbox-bg-color: #7AC7C5;

.community-solutions {
	background: #5C9329;
	section {padding: 0;}

	.community-map {
	
	padding-top: 2rem;
	margin-bottom: 266px;
	position: relative;
		.token {
			position: absolute;
			z-index: 10;
			width: 15.5%; height: auto;
		}
		.token.village {top: $board-r2; left: $board-c2;}
		.token.rural {top: $board-r1; left: $board-c3;}
		.token.subdivision-a {top: $board-r4; left: $board-c3;}
		.token.subdivision-b {top: $board-r5; left: $board-c1;}
		.token.subdivision-c {top: $board-r8; left: $board-c2;}
		.token.commercial {top: $board-r7; left: $board-c3;}
		.token.vacant {top: $board-r6; left: $board-c6;}
		.token.town-center {top: $board-r9; left: $board-c5;}
		.token.harbor {top: $board-r10; left: $board-c4;}

	}

	section.ocean {
		background: $ocean-bg-color;
		padding: 1rem 0 2rem;
		position:fixed;
		z-index: 500;
		left:0px;
		bottom:0px;
		width: 100%;
		height: 266px;

		h2 {
			text-align: left;
			color: #fff;
			font-size: emCalc(24px);
			font-weight: normal;
			i {
				font-size: 14px;
				background: darken($ocean-bg-color, 8%);
				padding: 3px;
				border-radius: 10px;
				color: lighten($ocean-bg-color,15%);
			}
		}
		.scales {
			display: block;
			margin: 0 auto;
		}

	}



}

.graph {

		.bar-graph {
			border-radius: 3px;
			box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
			position: relative;
			margin-bottom: 1em;
			overflow: hidden;
			background-position: 97% 50%;
			background-size: auto 50%;
			background-repeat: no-repeat;
		
			.amt {
				height: 3em;
				box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
			}

			label {
				color: #F6F4E1;
				position: absolute;
				z-index: 20;
				top: 0; left: 1.5em;
				margin-bottom: 0;
				margin-top: 0;
				line-height: 4em;
				font-weight: normal;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: emCalc(12px);
			}

		}

		//individual graph styles
		.n-level {
			background-image: url(ico-nitrogen@2x.png);
			.amt {background: #413F39;}
		}

		.speed {
			background-image: url(ico-rabbit@2x.png);
			.amt {background: #F7828C;}
		}
		
		.cost {
			background-image: url(ico-money@2x.png);
			.amt {background: #349E47;}
		}

}

#toolbox .bar-graph {background-color: darken($toolbox-bg-color, 26%);}
.ocean .bar-graph {background-color: darken($ocean-bg-color, 5%);}

#toolbox {
	background: $toolbox-bg-color;
	padding: 1.5em 0 0;
	h2 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: normal;
		line-height: 1;

		i {
				font-size: 14px;
				background: darken($toolbox-bg-color, 40%);
				padding: 2px;
				border-radius: 10px;
				color: $toolbox-bg-color;
			}
	}
	h3, p, a {color: #fff; font-weight: normal; margin-top: 0;}
	h3, a {text-transform: uppercase; letter-spacing: 2px;}
	.button {background: darken($toolbox-bg-color, 40%);@include inset-shadow(false);box-shadow: none;}
	.tool-desc {
		padding: 1em;
		background: darken($toolbox-bg-color, 10%);
	}

	.graph .bar-graph .amt {height: 2em;}
	.graph .bar-graph label {line-height: 3em;}

}
