.home-solutions {

	background: lighten($dirt, 30%);
	.house img {
		margin: 0 auto;
	}

	section.above-ground {
		background: url(grass.svg) repeat-x 0 100%;
		padding-top: 0;

		.inside {
			position: relative;
		}

		.outside {
			position: relative;
			min-height: 200px;
		}
	}
	.underground {
		background: $dirt;
		min-height: 10em;

		.pipes {
			height: 10rem;
			background: url(pipes.svg) no-repeat 100% 0;
		}
	}

	.description {
		position: absolute;
		z-index: 2;
		padding: 1em;
		top: 5rem;
		left: 2rem;
		width: 80%;

		h3, p {color: $dirt;}
		h3 {text-align: left; }
	}

	.outside .description {left: 0;}

}

.page-content section.above-ground {padding-bottom: 0;}