.page-content .page-title {
	padding-bottom: 3em;
	h1, h2 {text-align: center;}
}

.my-watershed-finder {
	padding: 2em 0 4em;
	background: rgba(255,255,255,0.1);
	h3 {text-align: center;}

	.map-finder {
		.columns {text-align: center;}
	}
}

.solution-finder {
	padding: 2em 0 4em;
	h3, h4 {text-align: center;}
}