.my-watershed-actions {
	background: #444;

	.columns {padding: 2em 0; min-height: 11rem;}
	.columns:first-child {background: rgba(255,255,255,0.2);}
	.columns:last-child {background: rgba(255,255,255,0.3);}
	i {font-size: emCalc(18px);}
	h4, p {text-align: center; color: #ccc; font-weight: normal;}
}

.page-content > section.my-watershed-actions {padding: 0;}

#map-img {display: none;}
#my-watershed-img {
	display: none;

}
#map-canvas {
	// width: 600px;
	height: 400px;
	margin: 0 auto;
}
.flex-video { height: 600px; width:100%;}

    #map-canvas *, #map-canvas *:before, #map-canvas *:after {
        -moz-box-sizing: content-box!important;
        -webkit-box-sizing: content-box!important;
        box-sizing: content-box!important;  
    }
    #map-canvas img {
        max-width: none; height: auto;
    }
    #map-canvas label {
        width: auto;
        display: inline;
    }
